<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- src="js/admin.js" -->
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">

    <div class="row w-100">
        <div class="col-4 align-items-start text-light"> <span th:text="${userinfo}">
        </span></div>
        <div class="col-7"></div>
        <div class="container col-1 align-items-end justify-content-end" >
            <a th:href="@{/logout}" class="align-middle align-content-end">Выйти</a>
        </div>
    </div>
</nav>

<p></p>

<!--  <div class="container-fluid">  -->
<div class="row  bg-light h-100 ">
    <!-- левая сторона -->
    <div class="container col-xl-1 h-100">
        <div class="container flex-grow-1 bg-white vh-100">
            <div class="list-group">
                <a href="/admin/" class="list-group-item list-group-item-action">Admin</a>
                <a href="/userinfo/" class="list-group-item list-group-item-action active">Profile</a>
            </div>
        </div>
    </div><!-- левая сторона конец-->
    <div class="container col-xl-11">
        <h3>User information-page</h3>
        <div class="card">
            <div class="card-header">
                <h5>About user</h5>
            </div>  <!-- card-head  -->
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <td>id</td>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Логин</td>
                        <td>Admin</td>
                        <td>User</td>

                    </tr>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getId()}">name</a>
                            </td>
                            <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}">name</a>
                            </td>
                            <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
                                   th:text="${user.getLastName()}">lastName</a>
                            </td>
                            <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
                                   th:text="${user.getUsername()}">age</a></td>
                            <td><span th:text="${user.isRoleAdmin()}"></span></td>
                            <td><span th:text="${user.isRoleUser()}"></span></td>

                        </tr>
                    </th:block>


                </table>

            </div>  <!-- card-body  -->

        </div> <!-- card  -->

    </div> <!-- контейнер право  -->
    <!--  </div> -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{../js/admin.js}" charset="UTF-8"></script>
</body>
</html>