<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавляем</title>
</head>
<body>
<h2>Добавляем</h2>
<div align="right">
<a th:href="@{/logout}">Выйти</a>
</div>
<p></p>
<table>
   <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

           <tr><td>Имя</td><td><input type="text" th:field="*{name}" id="name"/></td></tr>
           <tr><td>Фамиия</td><td><input type="text" th:field="*{lastName}" id="lastName"/></td></tr>
           <tr><td>Логин</td><td><input type="text" th:field="*{username}" id="username"/></td></tr>
           <tr><td>Пароль</td><td><input type="text" th:field="*{password}" id="password"/></td></tr>
           <tr><td>роль ADMIN</td><td><input type="checkbox" th:field="*{roleAdmin}" id="roleAdmin"/></td></tr>
           <tr><td>роль USER</td><td><input type="checkbox" th:field="*{roleUser}" id="roleUser"/></td></tr>
           <tr>
               <td><input type = "submit" value="Добавить"></td>
           </tr>
   </form>
</table>
</body>
</html>